* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

/* FONT */
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./static/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-flow: column;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    outline: 1px solid red;
    /* margin-bottom: 10px; */
}

.header-title {
    padding: 20px;
}

.header-tabs .tabs {
    padding: 15px 30px;
    background-color: #f19165;
    cursor: pointer;
    outline: 1px solid red;
}

.header-tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 40%;
    padding-top: 20px;
}

/* CONTENT */
#content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #e0b69a;
    flex: 1 1 auto;
    margin: 50px;
    border-radius: 15px;
}

/* PAGE CONTAINER */
.page-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 50px 0px;
}

.home-image {
    width: 450px;
    height: auto;
}

.home-info {
    font-size: 18px;
    line-height: 22px;
}

h1 {
    margin: 0;
    padding: 0;
    color: green;
}
