* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    outline: 1px solid red;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.home-image {
    width: 450px;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
    color: green;
}
