* {
    box-sizing: border-box;
}

/* FONT */
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./static/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

html {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-flow: column;
    overflow-y: scroll; /* prevent scrollbar push contents to the left*/
    background: rgb(12, 54, 80);
    background: linear-gradient(
        354deg,
        rgba(12, 54, 80, 1) 0%,
        rgba(38, 94, 115, 1) 100%
    );
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(202, 155, 175, 0.9);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(38, 94, 115);
}

.header-title {
    padding: 50px;
}

.header-tabs .tabs {
    padding: 15px 30px;
    cursor: pointer;
    border-right: 2px solid rgb(38, 94, 115);
}

.header-tabs .tabs:last-child {
    border: none;
}

.header-tabs {
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    width: 40%;
    padding: 5px 0;
}

/* CONTENT */
#content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #e2e2e2;
    flex: 1 1 auto;
    margin: 50px;
    border-radius: 15px;
    scrollbar-gutter: stable;

    animation-name: pageTransition;
    animation-duration: 1s;
}

/* PAGE CONTAINER */
.page-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 50px 0px;

    animation-name: pageTransition;
    animation-duration: 0.6s;
}

.home-image {
    width: 450px;
    height: auto;
}

.home-info {
    font-size: 18px;
    line-height: 22px;
}

h1 {
    margin: 0;
    padding: 0;
    /* color: rgb(38, 94, 115); */
    font-weight: 300;
    animation-name: pageTransition;
    animation-duration: 0.6s;
}

/* KEYF */

@keyframes pageTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
